<nav class="mb-4">
  <ul class="flex flex-row gap-4 items-center p-4 rounded-sm dark:bg-gray-800">
    <li><a class="px-6 py-4 rounded-sm dark:bg-slate-700 min-w-16 text-gray-300" routerLink="/vessels" routerLinkActive="text-white">Vessels</a></li>
    <li><a class="px-6 py-4 rounded-sm dark:bg-slate-700 min-w-16 text-gray-300" routerLink="/emissions" routerLinkActive="text-white">Emissions</a></li>
    <li class="ml-auto flex items-center"><img class="w-40" src="/assets/navtor.png" alt="Navtor Logo"></li>
  </ul>
</nav>
